.main_game{

    display:flex ;
    flex-direction: column;
    

}

#game{

    border: 3px green solid;
    border-radius: 30px;
    height: 50vh;
    width: 50vw;
    background-image: url('imgs/pole.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main_game span{

    display:flex;


}

#game img:hover{

    transform: scale(1.3) ;
}

#game img{

    height: 90%;
    width: 90%;
}