@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
.dotgothic16-regular { /*главный шрифт(всратый) - Рома*/
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo-text { /*для главного лого - Рома*/
    font-style: italic;
    font-family: "DotGothic16";
}

.simple-text { /*для просто текста - Рома*/
    font-family: "DotGothic16";
    font-size: 12px;
}

.simple-btn { /*для нормисной кнопки - Рома*/
    font-family: "DotGothic16";
    width: 10vw;
    height: fit-content;
    border: 7px rgb(174, 174, 174) inset;
    background-color: rgb(174, 174, 174);
    text-decoration: underline;
}

.simple-btn:active { /*для нормисной кнопки(при тыке) - Рома*/
    background-color: rgb(144, 144, 144);
}

.big-btn { /*для биг кнопки(пока тот же что и для нормиснойы) - Рома*/
    font-family: "DotGothic16";
    width: 10vw;
    height: fit-content;
    border: 7px rgb(174, 174, 174) inset;
    background-color: rgb(174, 174, 174);
    text-decoration: underline;
}

.big-btn:active { /*для биг кнопки(при тыке) - Рома*/
    background-color: rgb(144, 144, 144);
}

.body {
	font: 11px "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
  background: linear-gradient(#e66465, #9198e5);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.generic-anchor {
	color: blue;
}

.generic-anchor:visited {
	color: blue;
}

.generic-anchor:hover {
	color: darkblue; /* Исправил ошибку иничиализации - Егор */
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

main {
  flex: 1 1 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  font: 10em "Oswald", sans-serif;
  color: rgb(155,155,155);
  line-height: 1
}
footer {
  background: rgb(55,55,55);
  margin-top: auto;
  width: 100%
}
.footer-list-top {
  width: 33.333%
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif
}
.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid blueviolet;
  width: calc(100% - 20px)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 3em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid red;
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff
}
.footer-address {
  display: inline;
  font-style: normal
}
@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em
  }
  .footer-list-top {
    width: 100%
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em
  }
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 2.4em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}



/* Оформление кнопок Саша. */
.buttons{
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin: 50px;
        gap: 150px;
        
    }

    
    .b1, .b2, .b3{

        position: relative;
        padding: 15px 30px;
        margin-bottom:150px ;

        height: 15vh;
        width: 30vw;
        
        border: none;
        cursor: pointer;
        z-index: 0;
        border-radius: 10px;
        animation: anime1 3s linear infinite;

    }

    .b1::before{

        content: '';
        position: absolute;
        top: -2px; left: -2px;
        width: calc(100% + 4px); height: calc(100% + 4px);
        background: linear-gradient(15deg,  green, blue, rgb(220, 248, 7));
        background-size: 400%;
        z-index: -1;
        border-radius: 30%;
    }
    .b2::before{
        content: '';
        position: absolute;
        top: -2px; left: -2px;
        width: calc(100% + 4px); height: calc(100% + 4px);
        background: linear-gradient(15deg,  rgb(157, 140, 249), rgb(34, 154, 86), rgb(145, 47, 47));
        background-size: 400%;
        z-index: -1;
        border-radius: 30%;


    }


    .b3::before{

        content: '';
        position: absolute;
        top: -2px; left: -2px;
        width: calc(100% + 4px); height: calc(100% + 4px);
        background-image: url('imgs/grass.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;

        z-index: -1;
        border-radius: 30%;


    }
    @keyframes anime1{

        0%{transform: scale(1);
        rotate:0deg}
        25%{transform: scale(1.05)}
        50%{transform: scale(1.1)}
        100% {transform: scale(1)}
    }

.main-img{

    position: relative;;
    border:2px green  solid ;
    border-radius: 30px;
    width: 40vw;
    height: 60vh;
     transition: .3s linear ;
     
}
/* Оформление кнопок Саша. */
.buttons{
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
  gap: 100px;
}


.b1, .b2, .b3{

  position: relative;
  padding: 15px 30px;

  height: 15vh;
  width: 30vw;
  
  border: none;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
  animation: anime1 3s linear infinite;
}

.b1::before{

  content: '';
  position: absolute;
  top: -2px; left: -2px;
  width: calc(100% + 4px); height: calc(100% + 4px);
  background: linear-gradient(15deg,  green, blue, rgb(220, 248, 7));
  background-size: 400%;
  z-index: -1;
  border-radius: 30%;
}
.b2::before{
  content: '';
  position: absolute;
  top: -2px; left: -2px;
  width: calc(100% + 4px); height: calc(100% + 4px);
  background: linear-gradient(15deg,  rgb(157, 140, 249), rgb(34, 154, 86), rgb(145, 47, 47));
  background-size: 400%;
  z-index: -1;
  border-radius: 30%;


}


.b3::before{

  content: '';
  position: absolute;
  top: -2px; left: -2px;
  width: calc(100% + 4px); height: calc(100% + 4px);
  background-image: url('imgs/grass.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  z-index: -1;
  border-radius: 30%;


}
@keyframes anime1{

  0%{transform: scale(1);
  rotate:0deg}
  25%{transform: scale(1.1)}
  50%{transform: scale(1.2)}
  100% {transform: scale(1)}
}

.main-img{


border:2px green  solid ;
border-radius: 30px;
width: 40vw;
height: 60vh;
transition: .3s linear ;


}
.main-img:hover{


    transform: scale(1.1);
    top:50px



}


button{
    top: 20px;
}
.main-img:hover ~ button{
    top: 100px;
}
.list-shtorki{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;     
    text-align: center; 
    gap: 30vh;
    
}
.list-shtorki{

display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 30px;



}