@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

.dotgothic16-regular { /*главный шрифт(всратый) - Рома*/
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

.comforter-regular {
  font-family: "Comforter", cursive;
  font-weight: 400;
  font-style: normal;
}

.logo-text1 { /*для главного лого1 - Рома*/
  font-style: italic;
  font-family: "Rubik Mono One";
  font-size: 6vh;
}

.logo-text2 { /*для главного лого2 - Рома*/
  font-style: italic;
  font-family: "Comforter";
  font-size: 3vh;
}

.simple-text { /*для просто текста - Рома*/
  font-family: "DotGothic16";
  font-size: 12px;
}

.simple-btn { /*для нормисной кнопки - Рома*/
  font-family: "DotGothic16";
  width: 10vw;
  height: fit-content;
  border: 7px rgb(174, 174, 174) inset;
  background-color: rgb(174, 174, 174);
  text-decoration: underline;
}

.simple-btn:active { /*для нормисной кнопки(при тыке) - Рома*/
  background-color: rgb(144, 144, 144);
}

.big-btn { /*для биг кнопки(пока тот же что и для нормиснойы) - Рома*/
  font-family: "DotGothic16";
  width: 10vw;
  height: fit-content;
  border: 7px rgb(174, 174, 174) inset;
  background-color: rgb(174, 174, 174);
  text-decoration: underline;
}

.big-btn:active { /*для биг кнопки(при тыке) - Рома*/
  background-color: rgb(144, 144, 144);
}

body {
	font: 12px "DotGothic16";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
  padding: 0%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
  background: linear-gradient(#e66465, #9198e5);
}

header { /*меняется цвет :D*/
  border-bottom: 5px solid black;
  background-image: url('imgs/white-shtorki-background.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  width: 100%;
  height: 15vh;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.color1 {
  background-color: rgba(255, 255, 255, 0.9);
}

.color2 {
  background-color: rgba(255, 0, 225, 0.9);
}

.color3 {
  background-color: rgba(255, 172, 56, 0.9);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#name-head{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}

#about{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;

}

#portfolio{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}

#popular{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}

#panel{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}

#News{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}

#Contacts{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}



.generic-anchor {
	color: blue;
}

.generic-anchor:visited {
	color: blue;
}

.generic-anchor:hover {
	color: darkblue; /* Исправил ошибку иничиализации - Егор */
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

main {
  flex: 1 1 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  line-height: 1;
}
footer {
  background: rgb(55,55,55);
  margin-top: auto;
  width: 100%
}
.footer-list-top {
  flex: 1;
  min-width: 200px;
  padding: 0 10px;
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px
}
.footer-list-header {
  padding: 1px 0 3px 0;
  font-size: 16px;
  color: #fff;
  font: 1.2vw "Oswald", sans-serif
}
.footer-list-anchor {
  font: 1em "Open Sans", sans-serif
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid blueviolet;
  width: calc(100% - 20px)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 1.5em "Oswald", sans-serif;
  color: #fff
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 1.5em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid red;
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 0.9em;
  color: #fff
}
.footer-address {
  display: inline;
  font-style: normal
}
.footer.flex-rw {
  flex-wrap: nowrap;
}
@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em
  }
  .footer-list-top {
    flex: 1;
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em
  }
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 2.4em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}



















































































































































































































.navigate {

 display: flex;
 justify-content: center;
 margin-left: 10vw ;
 margin-right: 10vw;
 border: 1px solid red;
 gap: 20px;
 

}
.navigate a{
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;

  text-decoration: none;
  background-color:lime;
  flex:1
  

}
.navigate a p{
  display: none;
  color:#acffff;
}
@keyframes animations {
  0%{filter: brightness(1);}
  95%{filter: brightness(0) saturate(100%) invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);}
  100%{display: none;}
}
@keyframes animations2 {
  
  0%{filter: brightness(0) saturate(100%) invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);}
  100%{filter: brightness(1);}
}
@media (min-width: 500px) {
  .navigate a:hover span{
    animation: animations 1s linear 1 forwards;

}
.navigate a:hover p{
  display: block;
  animation: animations2 1s linear 1 forwards;
}

}



