
/* Оформление кнопок Саша. */
.buttons{
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin: 50px;
        gap: 150px;
        
    }

    
    .b1, .b2, .b3{

        position: relative;
        padding: 15px 30px;
        margin-bottom:150px ;

        height: 15vh;
        width: 30vw;
        
        border: none;
        cursor: pointer;
        z-index: 0;
        border-radius: 10px;
        animation: anime1 3s linear infinite;

    }

    .b1::before{

        content: '';
        position: absolute;
        top: -2px; left: -2px;
        width: calc(100% + 4px); height: calc(100% + 4px);
        background: linear-gradient(15deg,  green, blue, rgb(220, 248, 7));
        background-size: 400%;
        z-index: -1;
        border-radius: 30%;
    }
    .b2::before{
        content: '';
        position: absolute;
        top: -2px; left: -2px;
        width: calc(100% + 4px); height: calc(100% + 4px);
        background: linear-gradient(15deg,  rgb(157, 140, 249), rgb(34, 154, 86), rgb(145, 47, 47));
        background-size: 400%;
        z-index: -1;
        border-radius: 30%;


    }


    .b3::before{

        content: '';
        position: absolute;
        top: -2px; left: -2px;
        width: calc(100% + 4px); height: calc(100% + 4px);
        background-image: url('imgs/grass.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;

        z-index: -1;
        border-radius: 30%;


    }
    @keyframes anime1{

        0%{transform: scale(1);
        rotate:0deg}
        25%{transform: scale(1.05)}
        50%{transform: scale(1.1)}
        100% {transform: scale(1)}
    }

.main-img{

    position: relative;;
    border:2px green  solid ;
    border-radius: 30px;
    width: 40vw;
    height: 60vh;
     transition: .3s linear ;
     

}
.main-img:hover{

   
    transform: scale(1.1);
    top:50px


}

button{
    top: 20px;
}
.main-img:hover ~ button{
    top: 100px;
}
.list-shtorki{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;     
    text-align: center; 
    gap: 30vh;
    

}
